


.title {
    display: flex;
    justify-content: center;
   
}

/* center the grid layout */
#cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    width:500px;
    height: 500px;
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-cols), 1fr);
    border: 1px solid black;
}


.box {
    /* border: 1px solid black; */
    text-align: center;
}

.box:hover {
    background-color: black;
}


